{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Registration Form</title>

    <!-- Font Icon -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&amp;display=swap" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/sa.css' %}">
</head>

<body>
    <section class="main">
        <img src="{%static 'images/signup-bg.jpg' }" alt="">
            <div class="container">
                <div class="form-horizontal">
                    {% if registered %}
              <h1> Thanks for registering </h1>
                    <a href=" {% url 'loginapp:user_login' %}">Click here to login</a>
        {%else%}
        <span class="login100-form-title">
            <center>
                <h2>Member Registration </h2>
            </center>
        </span>

        <form enctype="multipart/form-data" method="post" class="form-horizontal">

                {% csrf_token %}
                <b> {{ user_form.as_p }}
                    {{ profile_form.as_p }}</b>
          
            <button type="submit" id="submit" class="submit-button">
                Register
            </button>

        </form>

        {% endif %}

        </div>
        </div>
    </section>

    </div>

    <!-- JS -->
    <!-- <script src="{static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{static 'js/scriptnew.js' %}"></script> -->
</body>

</html>